@import "../colors.css";

window {
  border-radius: 1;
  opacity: 0.97;
  border: 2px solid @border;
  background-color: @background;
}

label {
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 11pt;
  color: @label;
}

image {
  color: @label;
}

progressbar {
  border-radius: 0;
}

progress {
  background-color: @progress;
}
